<div class="page">
  <div class="container">

    <div class="row center-align">
      <h4 class="thin">TU CONFIGURACIÓN</h4>
    </div>

    <div class="row">
      <div class="col s12 m6 card center-align">
        <span><h5 class="thin">Categorias de gasto/ingreso</h5></span>

        <div class="divider"></div>
        <br>
        <ul class="collection">
          {{#each configValues.categorias as |categoria|}}
            <li class="collection-item">
              {{categoria.name}}
              <i class="material-icons right" {{action 'borrarCategoria' categoria}}>close</i>
            </li>
          {{/each}}
        </ul>
        <br>
        <br>

        <div class="divider"></div>
        <form {{action 'nuevaCategoria' on="submit"}}>
          <div class="input-field">
            <i class="material-icons prefix">add</i>
            {{input type="text" value=tempCat placeholder="Nueva categoría"}}
          </div>
        </form>

      </div>
      <div class="col s12 push-m1 m5 card center-align">
        <span><h5 class="thin">Sistemas de pago</h5></span>

        <div class="divider"></div>
        <br>

        <ul class="collection">
          {{#each configValues.sistemas as |sistema|}}
            <li class="collection-item">
              {{sistema.name}}
              <i class="material-icons right" {{action 'borrarSistema' sistema}}>close</i>
            </li>
          {{/each}}
        </ul>

        <br>
        <br>

        <div class="divider"></div>
        <form {{action 'nuevoSistema' on="submit"}}>
          <div class="input-field">
            <i class="material-icons prefix">add</i>
            {{input type="text" value=tempSist placeholder="Nuevo método de pago"}}
          </div>
        </form>

      </div>
    </div>


  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
