<div class="page dashboard-main">

  <!-- Fila 1 -->

  <div class="row" style="padding: 0; margin:0">

    <div class="dash-block-top blue lighten-5 center-align">
      <div class="icon-block">
        {{#if model}}
          <h4 class="center thin" style="margin-top:0; padding-top: 20px">Resumen Primera vista</h4>
        {{else}}
          <h4 class="center thin" style="margin-top:0; padding-top: 20px">No hay datos</h4>
        {{/if}}
        <div class="row">
          <div class="col s6 right-align">
            <h5>Gastos: <span>{{model.totalGastos}}</span> €</h5>
          </div>
          <div class="col s6 left-align">
            <h5>Ingresos: <span>{{model.totalIngresos}}</span> €</h5>
          </div>
        </div>
        <p class="light"><i>*Balance desde el día 1 de este mes.</i></p>
      </div>
    </div>

  </div>


  <!-- Fila 2 -->
  <div class="row" style="padding: 0; margin:0">

    <div id="dashInformesBlock" class="pointer col s6 dash-block blue lighten-1 center-align"
          {{action 'focusHoverIn' 'dashInformesBlock' on="mouseEnter"}}
          {{action 'focusHoverOut' 'dashInformesBlock' on="mouseLeave"}}>
      <div class="icon-block">
        <h2 class="center indigo-text text-lighten-1"><i class="material-icons large">trending_up</i></h2>
        <h5 class="center">Informes</h5>

        <p class="light">Sacale partido al seguimiento de tus gastos.</p>
      </div>
    </div>

    {{#link-to 'user.buscar' class="black-text"}}
      <div id="dashBuscarBlock" class="pointer col s6 dash-block blue lighten-2 center-align"
            {{action 'focusHoverIn' 'dashBuscarBlock' on="mouseEnter"}}
            {{action 'focusHoverOut' 'dashBuscarBlock' on="mouseLeave"}}>
        <div class="icon-block">
          <h2 class="center indigo-text"><i class="material-icons large">search</i></h2>
          <h5 class="center">Buscar</h5>

          <p class="light">Filtra y encuentra ese escurridizo gasto 'perdido'.</p>
        </div>
      </div>
    {{/link-to}}

  </div>

  <!-- Fila 3 -->
  <div class="row" style="padding: 0; margin:0">
    {{#link-to 'user.configuration' class="black-text"}}
    <div id="dashConfigBlock" class="pointer col s6 dash-block blue darken-2 center-align"
          {{action 'focusHoverIn' 'dashConfigBlock' on="mouseEnter"}}
          {{action 'focusHoverOut' 'dashConfigBlock' on="mouseLeave"}}>
      <div class="icon-block">
        <h2 class="center indigo-text text-lighten-2"><i class="material-icons large">flash_on</i></h2>
        <h5 class="center">Configuración</h5>

        <p class="light">Personaliza tu cuenta</p>
      </div>
    </div>
    {{/link-to}}

    <div id="dashCalcBlock" class="pointer col s6 dash-block blue darken-1 center-align"
          {{action 'focusHoverIn' 'dashCalcBlock' on="mouseEnter"}}
          {{action 'focusHoverOut' 'dashCalcBlock' on="mouseLeave"}}>
      <div class="icon-block">
        <h2 class="center indigo-text text-darken-1"><i class="material-icons large">group_work</i></h2>
        <h5 class="center">Previsión</h5>

        <p class="light">¿Cuentas a futuros? Mejor tener un mal plan que ninguno.</p>
      </div>
    </div>

  </div>

  {{#link-to 'user.gastos.nuevo'}}
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red darken-1">
      <i class="large material-icons">add</i>
    </a>
  </div>
  {{/link-to}}

</div>
