<div class="page">
  <div class="container">
    <div class="row">
      <h1 class="center-align">{{t 'admin.zone'}}</h1>
    </div>
    <div class="row">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header grey lighten-5"><i class="material-icons">filter_drama</i>{{t 'admin.userRequests'}}</div>
          <div class="collapsible-body">
            <p>User Request Table!!!</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header grey lighten-5"><i class="material-icons">vpn_key</i>{{t 'admin.roles'}}</div>
          <div class="collapsible-body">
            <p class="flow-text">Roles have been thought of as security level passes. We defined 4 levels of user authentication and a fifth level for public access.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header grey lighten-5"><i class="material-icons">contacts</i>{{t 'admin.users'}}</div>
          <div class="collapsible-body">
              <ul class="collection">
                {{#each existingUsers as |user|}}
                  <li class="collection-item avatar">
                    <img src="{{user.profile.profileImageURL}}" alt="{{user.profile.displayName}}" class="circle">
                    {{#if user.editting}}
                      <form {{action "updateDisplayName" user on="submit"}}>
                          {{t 'admin.displayName'}}: {{input type="text" value=user.profile.displayName autofocus="true"}}<br>
                          {{t 'admin.userName'}}: {{input type="text" value=user.profile.username}}
                          <div class="row">
                            <div class="col s3">
                              {{t 'label.securityLevel'}}:<br>
                              <b>{{role-level user.roleLevel}}</b>
                            </div>
                            <div class="col s9 m6">
                                <p class="range-field">
                                  {{input type="range" min="0" max="3" value=user.roleLevel}}
                                </p>
                            </div>
                          </div>
                          <button class="waves-effect waves-light btn green lighten-1" type="submit">
                            <i class="material-icons right">done</i>
                            {{t 'label.save'}}
                          </button>
                          <a class="waves-effect waves-light btn modal-trigger waves-black red white-text" href="#yesNoModal" {{action 'setDeleteAction' user}}>
                            Delete X
                          </a>
                      </form>
                    {{else}}
                      <span class="title">{{user.profile.displayName}}</span>
                      <br>
                      {{t 'label.securityLevel'}}:
                      <b>{{role-level user.roleLevel}}</b>
                         <a class="secondary-content pointer" {{action 'toggleEdit' user}}>
                           <div class="valign-wrapper">
                             {{t 'label.edit'}} <i class="material-icons">code</i>
                           </div>
                         </a>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header grey lighten-5"><i class="material-icons">swap_calls</i>{{t 'admin.onlineUsers'}}</div>
          <div class="collapsible-body">
            <div class="container">
              {{#unless onlineUsers}}
                <h5>No users logged</h5>
                <p>
                  Be the first one to set foot inside!
                </p>
              {{else}}
                <h5>Users online</h5>
                <div class="divider"></div>
                <br>
              {{/unless}}
                {{#each onlineUsers as |user|}}
                  <div class="chip white-text blue darken-3 bottom-pad bottom-marg">
                    <img src="{{user.img}}" alt="{{user.name}}">
                  {{user.name}}
                  </div>
                {{/each}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });

    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: false, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
      }
    );

    // Modal config
    $('.modal-trigger').leanModal({
      dismissible: false, // Modal can be dismissed by clicking outside of the modal
      opacity: .5, // Opacity of modal background
      in_duration: 400, // Transition in duration
      out_duration: 250, // Transition out duration

      //ready: function() { alert('Ready'); }, // Callback for Modal open
      complete: function() {
        $('.lean-overlay').remove();
      } // Callback for Modal close
    });

  });
</script>
