<div class="navbar-fixed">
  <nav class="blue darken-2">
    <div class="brand-logo thin" {{action 'redirectHome'}}>
      <div class="valign-wrapper">
        <img class="logo-image" src="/assets/img/cash-dark.png">
        <span class="hide-on-small-only">Cash App</span>
        <span class="hide-on-med-and-up">Cash</span>
      </div>
    </div>

    <!-- LANGUAGE dropdown

    <i class="dropdown-button material-icons right lang-icon pointer" data-activates='dropdown1' style="
    font-size: 40px;">language</i>
      <!-- Dropdown Structure --
      <ul id='dropdown1' class='dropdown-content'>
        <li><a class="blue-text text-darken-4" {{action 'setLocale' 'en'}}>{{t 'lang.english'}}</a></li>
        <li class="divider"></li>
        <li><a class="blue-text text-darken-4" {{action 'setLocale' 'es'}}>{{t 'lang.spanish'}}</a></li>
      </ul>
    -->
    <ul class="right hide-on-med-and-down">
      <li>
        {{#if session.isAuthenticated}}
          <a {{action "signOut"}}>Sign out</a>
        {{/if}}
      </li>
    </ul>
    <div id="slide-out" class="side-nav">
      <ul>
        {{#if session.isAuthenticated}}
          <li>
              <a {{action "signOut"}}>Sign out</a>
          </li>
          <li class="divider"></li>
        {{/if}}
        <li>{{link-to 'Nuevo Importe' 'user.gastos.nuevo'}}</li>
        <li>{{link-to 'Configuracion' 'user.configuration'}}</li>
      </ul>
      <div class="row">
        <div class="center-align">
          <img class="responsive-img" src="/assets/img/cash-dark.png" {{action 'redirectHome'}}>
        </div>
      </div>
    </div>
    <a href="#" data-activates="slide-out" class="button-collapse left"><i class="right mdi-navigation-menu"></i></a>
  </nav>
</div>


  {{outlet}}



<script type="text/javascript">
  $(document).ready(function(){
    $(".button-collapse").sideNav({
      menuWidth: 220, // Default is 240
      edge: 'left', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on link clicks, useful for Angular/Meteor
    });

    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: false, // Does not change width of dropdown to that of the activator
        hover: false, // Activate on hover
        gutter: 0, // Spacing from edge
        belowOrigin: true, // Displays dropdown below the button
        alignment: 'left' // Displays dropdown with edge aligned to the left of button
      }
    );
  });
</script>
