<div class="navbar-fixed">
  <nav class="blue darken-2">
    <div class="brand-logo thin">
      <div class="valign-wrapper" {{action 'redirectHome'}}>
        <img class="logo-image" src="/assets/img/fire-logo.png">
        <span class="hide-on-small-only">Flame Stack</span>
        <span class="hide-on-med-and-up">Flame/St</span>
      </div>
    </div>
    <ul class="right hide-on-med-and-down">
      <li><a href="#!">First Sidebar Link</a></li>
      <li><a href="#!">Second Sidebar Link</a></li>
      <li>
        {{#if session.isAuthenticated}}
          <a {{action "signOut"}}>Sign out</a>
        {{/if}}
      </li>
    </ul>
    <div id="slide-out" class="side-nav">
      <div class="row">
        <br>
        <div class="center-align">
          <img class="responsive-img" src="/assets/img/fire-logo.png" {{action 'redirectHome'}}>
        </div>
      </div>
      <ul>
        <li><a href="#!">First Sidebar Link</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
        <li class="divider"></li>
        {{#if session.isAuthenticated}}
          <li>
              <a {{action "signOut"}}>Sign out</a>
          </li>
          <li class="divider"></li>
        {{/if}}
      </ul>
    </div>
    <a href="#" data-activates="slide-out" class="button-collapse right"><i class="left mdi-navigation-menu"></i></a>
  </nav>
</div>




  {{outlet}}




<script type="text/javascript">
  $(document).ready(function(){
    $(".button-collapse").sideNav({
      menuWidth: 220, // Default is 240
      edge: 'right', // Choose the horizontal origin
      closeOnClick: true // Closes side-nav on link clicks, useful for Angular/Meteor
    });
  });
</script>
