<div id="index-page" class="page">

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 id="jumpTitle" class="header center blue-text text-darken-3" {{action 'focus' 'jumpTitle' 'bounce' 'slow'}}>Gestiona tus cuentas</h1>
      <div id="jumpRow" class="row center" {{action 'focus' 'jumpRow' 'swing' 'slow'}}>
        <h5 class="header col s12 light">Una moderna herramienta para gestionar tus gastos personales. Recibe informes detallados y un seguimiento completo de tus gastos de manera personalizada.</h5>
        <br>
        <h4>{{link-to 'Panel de usuario' 'user.dashboard'}}</h4>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div id="pulseClick1" class="col s12 m4" {{action 'focus' 'pulseClick1' 'pulse' 'slow'}}>
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">flash_on</i></h2>
            <h5 class="center">Velocidad</h5>

            <p class="light">Una interfaz sencilla con la que tratar tus cuentas. No pierdas tiempo navegando listas y fechas. Guarda nuevas entradas cómodamente y recibe la información que necesitas.</p>
          </div>
        </div>

        <div id="pulseClick2" class="col s12 m4" {{action 'focus' 'pulseClick2' 'pulse'}}>
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">group</i></h2>
            <h5 class="center">Dirigidos a tí</h5>

            <p class="light">Todos nos hemos visto ante la necesidad de 'llevas las cuentas' y todos seguimos un patrón muy similar para llevarlas. Categorizamos y obtenemos resúmenes de gastos por tipo y fechas. ¿Por qué no automatizar el proceso?</p>
          </div>
        </div>

        <div id="pulseClick3" class="col s12 m4" {{action 'focus' 'pulseClick3' 'pulse' 'fast'}}>
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">settings</i></h2>
            <h5 class="center">Configuración personal</h5>

            <p class="light">Cada uno organiza sus cuentas de una forma y agrupa gastos en bloques disitintos. También pagamos de muchas maneras y posiblemente desde varias cuentas bancarias. Lleva el registro de cuanto y donde como mejor te convenga.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Nosotros</h5>
          <p class="grey-text text-lighten-4">Seguimos nuestra desinteresada pasión de hacer de nuestro entorno uno del que poder extraer información útil.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/beeva-fernandobordallo">nickBor</a>
      </div>
    </div>
  </footer>

</div>
