<div id="index-page" class="page">

  
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 id="jumpTitle" class="header center blue-text text-darken-3" {{action 'focus' 'jumpTitle' 'bounce' 'slow'}}>Starter Template</h1>
      <div id="jumpRow" class="row center" {{action 'focus' 'jumpRow' 'swing' 'slow'}}>
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design. Click around and see animate.css in action</h5>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div id="pulseClick1" class="col s12 m4" {{action 'focus' 'pulseClick1' 'pulse' 'slow'}}>
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div id="pulseClick2" class="col s12 m4" {{action 'focus' 'pulseClick2' 'pulse'}}>
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div id="pulseClick3" class="col s12 m4" {{action 'focus' 'pulseClick3' 'pulse' 'fast'}}>
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons large">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>

  <footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="#">Materialize</a>. <small>Be sure to pop over to their page!</small>
      </div>
    </div>
  </footer>

</div>
