<div id="login-page" class="container page">

  <br>
  <br>

  <div class="row">

    <div class="col s12 m6 center-align">
      <h4>{{t 'login.required'}}:</h4>
        <a class="waves-effect waves-light btn-large valign-wrapper full-width blue lighten-1" {{action "signIn" "github"}}>
          <img src="assets/img/social/git.png" alt="github"  height="50px" class="left"/>
          <span>Github</span>
        </a>
      <br>
      <br>
        <a class="waves-effect waves-light btn-large valign-wrapper full-width blue lighten-1" {{action "signIn" "facebook"}}>
          <img src="assets/img/social/face.png" alt="github"  height="50px" class="left"/>
          <span>Facebook</span>
        </a>
      <br>
      <br>
        <a class="waves-effect waves-light btn-large valign-wrapper full-width blue lighten-1" {{action "signIn" "twitter"}}>
          <img src="assets/img/social/twit.png" alt="github"  height="50px" class="left"/>
          <span>Twitter</span>
        </a>
      <br>
      <br>
        <a class="waves-effect waves-light btn-large valign-wrapper full-width blue lighten-1" {{action "signIn" "google"}}>
          <img src="assets/img/social/goo.png" alt="github"  height="50px" class="left"/>
          <span>Google</span>
        </a>
    </div>

    <div class="col s12 m6 center-align">
      <br class="hide-on-med-and-up">
        <h4>Login Info</h4>
        <p class="flow-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>

  </div>

</div>
