<div id="login-page" class="container page">

  <br>
  <br>

  <div class="row">

    <div class="col s12 m6 center-align">
      <h4>{{t 'login.required'}}:</h4>
        <a class="waves-effect waves-light btn-large valign-wrapper full-width blue lighten-1" {{action "signIn" "github"}}>
          <img src="assets/img/social/git.png" alt="github"  height="50px" class="left"/>
          <span>Github</span>
        </a>
      <br>
      <p class="flow-text">
        De momento solo ofrecemos soporte a los usuarios de github ;)
      </p>
      <!--<br>
        <a class="waves-effect waves-light btn-large valign-wrapper full-width blue lighten-1" {{action "signIn" "facebook"}}>
          <img src="assets/img/social/face.png" alt="github"  height="50px" class="left"/>
          <span>Facebook</span>
        </a>
      <br>
      <br>
        <a class="waves-effect waves-light btn-large valign-wrapper full-width blue lighten-1" {{action "signIn" "twitter"}}>
          <img src="assets/img/social/twit.png" alt="github"  height="50px" class="left"/>
          <span>Twitter</span>
        </a>
      <br>
      <br>
        <a class="waves-effect waves-light btn-large valign-wrapper full-width blue lighten-1" {{action "signIn" "google"}}>
          <img src="assets/img/social/goo.png" alt="github"  height="50px" class="left"/>
          <span>Google</span>
        </a>-->
    </div>

    <div class="col s12 m6 center-align">
      <br class="hide-on-med-and-up">
        <h4>Usuarios de CashApp</h4>
        <p class="flow-text">
          Con el fin de personalizar y asegurar la privacidad de los datos de cada usuario, exigimos la autenticación de todo aquel que accede a la web.
        </p>
    </div>

  </div>

</div>
