<div class="page">
  <br><h5 class="center-align thin">Nuevo Importe</h5><br>
  <div class="container">
    <div class="row">
      <form class="col s12" {{action "guardarGasto" on="submit"}}>
        <div class="row">
          <div class="input-field col s12 m6">
            {{view "select" content=categorias value=gasto.tipo}}
            <label>Categoría</label>
          </div>
          <div class="input-field col s12 m6">
            {{view "select" content=sistemas value=gasto.sistema}}
            <label>Sistema de pago</label>
          </div>
            <div class="input-field col s12 m6">
              <i class="material-icons prefix">query_builder</i>
              {{input type="date" class="datepicker" value=gasto.fecha placeholder="Fecha" required=true}}
              <label class="active">Fecha</label>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">dialpad</i>
            {{input value=gasto.importe placeholder="Importe" required=true}}
            <label class="active">Importe</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">chat_bubble_outline</i>
            {{textarea class="materialize-textarea" value=gasto.descripcion placeholder="Descripcion"}}
            <label class="active">Comentarios</label>
          </div>
        </div>
        <div class="row">
          <button class="right waves-effect waves-light btn green lighten-1" type="submit">
            <i class="material-icons right">done</i>
            {{t 'label.save'}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
      $('select').material_select();
  });

</script>
